/*
 * Copyright (c) 2011, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface bcache "Buffer cache" {
    typedef uint32 fsize; // file size type (4G ought to be enough ...!)

    rpc new_client(out cap bulk);

    rpc get_start(in char key[key_len], out uint64 idx, out bool haveit, out uint64 transid, out uint64 size);
    rpc get_stop(in uint64 transid, in uint64 idx, in uint64 length);

    rpc print_stats();
};
