/*
 * Copyright (c) 2010, 2011, ETH Zurich.
 * All rights reserved.
 *
 * This file is distributed under the terms in the attached LICENSE file.
 * If you do not find this file, copies can be found by writing to:
 * ETH Zurich D-INFK, Haldeneggsteig 4, CH-8092 Zurich. Attn: Systems Group.
 */

interface boot_perfmon "The perfmon Interface" {

        message init(coreid id);
        message done_request();
        message done_reply();

        message ping(cycles time);
        message pong(cycles time);

	message exit();
};
